body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin-top: 180px;
    font-size: 500%;
    color:white;
    text-shadow:3px 1px 6px black;
}

h2 {
    text-align: center;
    margin-top: 40px;
    color:white;
}
#teresa {
    font-size:xx-large;
    font-weight: bold;
    text-decoration: none;
    color:white;
  

}
#varbox {
   
    width:1330px;
    height:42px;
  
    
}

#varbox nav ul {

    padding-right: 0px;
    text-align:right;
    display:inline-block;
}

#varbox nav ul li {
    display:inline-block;
    padding-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#varbox nav a {
    text-decoration:none;
}

#varbox nav ul li a {
    text-decoration: none;
    color:white;
 
}

#container-wrapper {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box{
    width:700px;
    height:400px;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right:auto;
    margin-top:280px;
    padding: 40px 500px 20px 20px;
    line-height: 30px;
}

footer  {
    text-align:center;
}

