h2 {
        color:rgb(74, 95, 25);
        font-size: 30px;
        font-family: cursive, Helvetica, sans-serif;
        font-weight:80px;
        margin-left: 10px;
    }

h3 {
        font-weight: normal;
        margin-left: 10px;
        
}

p {
    margin-left: 50px;
}


#Box {
    width: 1000px;
    height: 440px;
    background-color: rgb(240, 221, 205);
    border-style: dashed ;
    border-width:15px;
    text-align: justify ;
    padding-bottom: 60px;
    padding-top:25px;
    padding-left: 0px;
    padding-right:50px;
    margin-top:50px;
    margin-left:200px;
    }

.title {
    text-align: center;
}

.list {
    font-family:Arial, Helvetica, sans-serif;
    width: 700px;
    height: 70px;
    border-style: dashed ;
    text-align: justify ;
    padding-bottom: 15px;
    padding-top:5px;
    padding-left: 0px;
    padding-right:50px;
    margin-left:125px;
    margin-top:30px;
    margin-bottom: 30px;

}

#distance {
    margin-top:50px;
}

#propermargin {
    margin-left:10px;
}

